.content{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    justify-content: center;
}

.main_content{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.singleDest {
    min-height: 30vh; 
    max-height: 30vh; 
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    margin: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.singleDest:hover {
    transform: translateY(-0.5vh);
    box-shadow:0 2px 8px 2px rgba(178, 178, 178, 0.74);
    transition: .3s ease;
}




.dastImage{
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.Imagecover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.dastSide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    height: 100%;
    padding-left: 1rem;
}

.foodname{
    width: 100%;
    padding-bottom: 10%;
}

.textinfo{
    width: 100%;
    padding-bottom: 10%;
}

.foodname h5{
    font-size: larger;
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-weight: 500;
    white-space: nowrap;
}



.typefood{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* background-color:#F7B787; */
    border-radius: 15px;
    font-size: small;
    color: #FFFFFF;
    width: fit-content;
    background-color: #527853;
}

.pricefood{
    margin-top: 10%;

}

.menu_buttom{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.Editfood{
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffff;
    background-color: #EE7214;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


.Editfood:hover{
    cursor: pointer;
    transition: .3s ease;
    scale: 1.1;
    box-shadow:0 2px 8px 2px rgba(178, 178, 178, 0.74); ;
}


.Editicon{
    color: #ffff;
    margin-right: 0.5vh;
}

.modal {
    justify-content: center;
    align-items: center;
    display: block; 
    position: fixed;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal_content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 1rem;
    border: 1px solid #f4f4f4;
    width: 25%; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.Alerticon{
    width: 12vw;
    height: 12vh;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    color: #f44336; 
}

.h2{
    margin-bottom: 1rem;
}

.close {
    position: absolute; 
    top: 0.2rem;
    right: 0.2rem; 
    color: rgba(0, 0, 0, 0.475);
    font-size: 25px;
    font-weight: bold;
    border-top-right-radius: 0.5rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.cancelbtn{
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: #7b7b7b; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 5px;
}

.Removebtn {
    margin-top: 1rem;
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 5px;
}

.cancelbtn:hover, .Removebtn:hover {
    opacity: 0.8;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.cancelbtn:disabled,
.Removebtn:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed; 
    opacity: 0.6; 
}

.SuccessfulText{
    color: #27ca2d;
}