.link_blog{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 60%;
}

.content{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    justify-content: center;
}

.main_content{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.singleDest{
    overflow: hidden;
    height: 250px;
    width: 16vw;
    min-width: 16vw;
    border-radius: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
    margin: 1.2rem;
    cursor: pointer;
    background-color: white;
}

.singleDest:hover{
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.74);
    scale: 1.1;
    transition: .3s ease;
}

.dastImage{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.Imagecover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.dastFooter {
    display: flex;
    justify-content: space-between; /* This will push the heart to the right */
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    width: 100%;
    height: min-content;
}

.destText {
    color: black;
    overflow: hidden; 
    text-overflow: ellipsis; 
    height: 50px;
    width: 80%;
}

.destText p{ 
    font-size: larger; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.favorite {
    display: flex;
    justify-content: flex-end;
    right: 0;
    height: 20%;
    margin-left: auto; /* Ensures the heart icon stays on the right */
}

.heart_icon {
    color: #D6195D;
    width: 25px;
    height: 25px;
}