.main{
    width: 100%;
    height: auto;
    min-height: 100vmin;
    background: linear-gradient(90deg,  #881E0B 0%, #EE7214 80%);
}


.container {
    position: relative;
    width: 55vw;
    height: 80vh;
    background-color: #FFFBF7;
    margin-top: 2%;
    border-radius: 2rem;
    display: flex;
    flex-direction: row;
    /* box-shadow: 0px 4px 6px 0px rgba(108, 107, 106, 0.582); */
    box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.137);
}

.content_wrapper{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.From_Login{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    border-right: 2px solid rgba(138, 138, 138, 0.3);
    z-index: 1;
}


.From_Login_header{
    color: black;
    font-weight: 800;
    font-size: 32px;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
    text-align: center;
}

.From_Login_input{
    width: 100%;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-bottom:1rem;
    /* margin-left: 1.5rem; */
}

.From_Login_input_Email{
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

.From_Login_input_Password{
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
}

.Loginblock{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.2rem;
    background-color: #FFFBF7;
    font-size: 16px;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    /* box-shadow: 0px 4px 6px 0px rgba(174, 174, 174, 0.502); */
    font-size: 16px;
    color: #0b0b0bd9;
}

.Loginblock::placeholder {
    color: #888888a7;
}

.Loginblock:focus {
    outline: none; 
}

.From_Login_input_Email input:focus, 
.From_Login_input_Password input:focus,
.From_Login_input_ConfirmPassword input:focus{
    box-shadow: inset 0 0 5px rgba(39, 39, 39, 0.216);
    outline: none; 
}

.Loginbtn_wrapper{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Loginbtn{
    width: max-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 16px;
    color: #FFFBF7;
    background-color: #EE7214;
    border: none;
    border-radius: 0.5rem;
}

.Loginbtn:hover{
    box-shadow: 0px 4px 4px 0px rgba(214, 204, 187, 0.352);
    cursor: pointer;
    scale: 1.1;
    transition: .3s fade-in;
}

.last_Login_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    color: black;
    font-size: small;
}

.Signup_link{
    margin-left: 0.2rem;
    font-weight: 700;
    color: #EE7214;
}

.Signup_link:hover{
    margin-left: 0.2rem;
    font-weight: 700;
    color: #b3550e;
}

.back_icon{
    width: 30px;
    height: 30px;
    color: black;
    font-weight: bolder;
    position: absolute;
    top: 0;
    margin-left: 3vh;
    cursor: pointer;
    margin-top: 2vh;
}

.Login_pic_wrapper{
    width: 50%;
    margin-bottom: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logoPicture {
    background-color: black;
    border-radius: 50%;
    width: 75%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 6px 1px 0px rgba(0, 0, 0, 0.352);
}

.logoimg {
    object-fit: fill; /* ปรับขนาดให้พอดีในขอบเขต */
    max-width: 600%; /* จำกัดขนาดความกว้างไม่ให้เกินขอบเขต */
    max-height: 150%; /* จำกัดขนาดความสูงไม่ให้เกินขอบเขต */
    margin-left: 10rem;
}
.checkIcon{
    color: #27ca2d;
    width: 20px;
    height: 20px;
}

.passwordSuccess{
    color: #27ca2d;
}

.xIcon{
    color: #CD1616;
    width: 20px;
    height: 20px; 
}

.passwordCheckIcon{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    font-size: small;
    align-items: center;
}

.passwordWarning{
    color: #CD1616;
}

.passwordCheckIcon{
    margin-top: 0.2rem;
    display: flex;
    flex-direction: row;
    font-size: small;
    align-items: center;
}

.ErrorChecking{
    color: #CD1616;
    font-size: small;
    display: flex;
    justify-content: center ;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.Alerticon{
    margin-right: 0.2rem;
}
