.main{
    width: 100%;
    height: 100vmin;
    min-height: 100vmin;
    background-color: #fdfdfd;
}

.container {
    width: 100%;
    height: max-content;
    padding-top: 2vh;
    padding-left: 6.5vw;
    padding-right: 6.5vw;
    padding-bottom: 4vh;
    background-color: #FFFFFF;
}

.Favourite_wrapper {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}

.header {
    width: 100%;
    padding-bottom: 1vh;
    padding-left: 1vh;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerText{
    font-size: 3.5vw;
    color: black; 
    width: 50%;
}

.AddContainer{
    width: 50%;
    align-items:flex-end;
    display: flex;
    justify-content: flex-end;
    padding-right: 1vw;
}

.Addbtn{
    color: #FFFBF7;
    background-color: #EE7214;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Addbtn:hover{
    scale: 1.1;
    cursor: pointer;
    transition: .3s ease;
}

.Plusicon{
    width: 25px;
    height: 25px;
    margin-right: 0.2rem;
}

.content_grid {
    background-color: #FFFFFF;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 1rem;
    display: grid;
    justify-items: center;
    gap: 2vw; 
    grid-template-columns: repeat(3, 1fr); 
    padding-right: 2.5vw;
    border: #a9a9a9 1px solid;
    box-shadow: 0 0 3px 3px rgba(49, 49, 49, 0.1);
    width: 100%;
    height: max-content;
}

.content_empty{
    background-color: #FFFFFF;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 1rem;
    display: grid;
    justify-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
} 

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pageButton {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    border: none;
    margin: 0.1rem;
    border-radius: 1rem;
    background-color: #e7e7e7; 
}

.pageButton:hover{
    background-color: #cdcdcd;
}

.pageButton:disabled {
    cursor: not-allowed;
}

.activePage {
    background-color: #ff5804;
    color: #fdfdfd;
}

.activePage:hover{
    background-color: #ef5001ed;
}

.emptyMessage{
    font-style: italic;
    font-size: x-large;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #979595;
}

.modal {
    justify-content: center;
    align-items: center;
    display: block; 
    position: fixed;
    align-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal_content {
    background-color: #fefefe;
    margin: 6% auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border: 1px solid #f4f4f4;
    width: max-content; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.h2{
    margin-bottom: 1rem;
}

.close {
    position: absolute; 
    top: 0.2rem;
    right: 0.2rem; 
    color: rgba(0, 0, 0, 0.475);
    font-size: 25px;
    font-weight: bold;
    border-top-right-radius: 0.5rem;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.Confirmbtn{
    margin-top: 1rem;
    margin-right: 2rem;
    background-color: #527853; 
    color: #f4f4f4;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 5px;
    margin-right: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.Canclebtn {
    margin-top: 1rem;
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.Confirmbtn:hover, .Canclebtn:hover {
    opacity: 0.8;
}

.clearfix{
    margin-top: 3.5rem;
    padding-bottom: 0.2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center ;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.headerTextModal{
    margin-bottom: 2rem;
    color: black;
}

.Confirmbtn:disabled,
.Canclebtn:disabled {
    background-color: #d3d3d3;
    color: #a9a9a9;
    cursor: not-allowed; 
    opacity: 0.6; 
}

.SuccessfulText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #27ca2d;
}

.ContentContainer{
    display: flex;
    flex-direction: row;
    width: 40vw;
    height: 30vh;
}

.ContentImg{
    width: 40%;
}

.Menudisplay{
    width: 100%;
    height: 100%;
    background-color:  #e1e1e1;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    position: relative;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.226);
}


.Uploadbtn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #EE7214;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: medium;
}

.Uploadbtn:hover{
    scale: 1.1;
}

.iconUpload{
    margin-right: 0.5rem;
}

.EditContentInput{
    margin-left: 1rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
}

.inputNamefood{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputContainer{
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    border: 1px solid black;
    background-color: #ffffff;
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    /* box-shadow: 0px 4px 6px 0px rgba(174, 174, 174, 0.502); */
    font-size: 16px;
    color: #0b0b0bd9;
}

.inputContainer::placeholder {
    color: #888888a7;
}

.inputContainer:focus {
    box-shadow: inset 0 0 5px rgba(39, 39, 39, 0.216);
    outline: none;
}

.titleStyles{
    width: fit-content;
    min-width: fit-content;
    margin-right: 0.5rem;
}

.optionTextStyles{
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    background-color: #ffffff;
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.5rem;
    /* box-shadow: 0px 4px 6px 0px rgba(174, 174, 174, 0.502); */
    font-size: 16px;
    color: #0b0b0bd9;
    border: 1px solid black;
}

.optionTextStyles:focus {
    outline: none; 
    box-shadow: 0px 4px 6px 0px rgba(174, 174, 174, 0.42);; 
}

.optionTextStyles::placeholder {
    color: #888888a7;
}

.PriceBox{
    width: 20%;
    margin-right: 0.5rem;
}

.error{
    color: #f44336; 
    font-size: small;
    margin-left: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.errorImg{
    color: #f44336; 
    font-size: small;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 8vh;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #f09b9584;
    border-radius: 5px;
    border: 2px solid #f44336;

}

.Imageicon{
    width: 20%;
    height: 20%;
}

.iconExc{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem; 
}

.wait {
    padding-top: 1rem;
    animation: waitAnimation 1s infinite; 
}

@keyframes waitAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5; 
    }
    100% {
        opacity: 1; 
    }
}

.CheckSuccess{
    width: 10vw;
    height: 10vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.iconExc2{
    width: 10vw;
    height: 10vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.errorText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #27ca2d; */
    color: #f44336;
}


.successContainer{
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
}

.MenuPicContainer{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #979595;
}

