.mainBg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg,  #881E0B 0%, #EE7214 80%);
}


.loading{
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #cccccc;  
    color: #666666; 
}

.bigContainer {
    width: 70vw;
    height: 85vh;
    max-height: max-content;
    /* background-color: #673a0d; */
    background-color: #FFF;
    border-radius: 50px;
    padding: 15px 30px 10px 30px;
    margin: auto;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.bottomContainer {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.LoginButton{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    color: #EE7214;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease transform 0.2s ease;
}

.LoginButton:hover {
    color: #b05611;
    transform: scale(1.02);
}

.bottomText {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    color: #000;
    width: max-content;
    min-width: fit-content;
    padding: 0px 10px 0px 0px
}

.title {
    font-family: 'Poppins';
    font-size: 42px;
    font-weight: 800;
    color: #000;
    text-align: center;
    margin-top: -40px;
}

.normalText {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    color: #000;
    width: max-content;
    min-width: fit-content;
    margin: 0px 0px 10px 10px;
    padding-right: 10px;
}

.normalTextRed {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    color: #D6195D;
    width: max-content;
    min-width: fit-content;
    margin: 0px 0px 10px -5px
}

.picText {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: normal;
    color: black;
    opacity: 30%;
    margin-right: 10px;
}

.inputContainer {
    width: 62vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin:  1rem 2rem 1.5rem 2rem;
    /* background-color: rgb(34, 154, 70); */
}

.textfieldBigContainerL {
    width: 32vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    /* background-color: #ffcccb; */
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.rowContainer2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
    /* background-color: #424653; */
    /* margin-right: 10px; */
}

.rowContainerCenter {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 10px;
    align-items: center;
    /* margin-right: 10px; */
}

.rowContainerCenter2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding-left: 10px;
    align-items: center;
    /* margin-right: 10px; */
}

.colContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 10px;
}

.colTime {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 10px;
    /* background-color: #203066; */
}

.colContainer2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    /* background-color: #203066; */
}

.colContact {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px 10px;
    margin-bottom: 10px;
    /* background-color: #203066; */
}

.textfieldBigContainerR {
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.textfieldSubContainer {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
    align-items: center;
    /* background-color: #d8000c; */
}

.textfieldSubContainerR {
    width: 27vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    margin: 10px 20px 10px 0px;
    align-items: center;
}

.picBigContainer {
    width: 15vw;
    height: 23vh;
    display: flex;
    flex-direction: row;
    margin: 10px;
    /* overflow: hidden; */
    position: relative;
}

.textfieldStyle {
    height: 4vh;
    width: 100%;
    margin: 0px 0px 10px 10px;
    background-color: #fff;
    border-color: #000;
    border-width: thin;
    /* border: none; */
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
}

.textfieldStyleContact {
    height: 4vh;
    width: 100%;
    /* margin: 0px 0px 10px 10px; */
    background-color: transparent;
    /* border-color: #000;
    border-width: thin; */
    border: none;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
}

.textfieldStyleContact:focus {
    border: none;
    outline: none;
}

.contactBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4vh;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0px 0px 10px 10px;
    padding-left: 5px;
    align-items: center;
    /* background-color: #891F0C;    */
}

.textfieldStyleMini {
    width: 7vw;
    height: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #EEE2D8;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2.5px 1px 1px rgba(143, 142, 142, 0.45);
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.ddTextfieldStyle {
    width: 100%;
    height: 4vh;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.ddTextfieldStyle:focus {
    border-color: #fff;
    height: 5vh;

}

.dropdownIcon {
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #000;
    pointer-events: none;
}

.mapContainer {
    width: 25vw;
    height: 25vh;
    margin: 0px 0px 10px 20px;
    background-color: #EEE2D8;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2.5px 1px 1px rgba(143, 142, 142, 0.45);
}

.mapContainer2 {
    width: 25vw;
    height: 18vh;
    background-color: #EEE2D8;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2.5px 1px 1px rgba(143, 142, 142, 0.45);
}

.pictureContainer {
    width: 15vw;
    height: 25vh; 
    margin-left: 10px;
    background-color: #E6E6E6;
    border-radius: 10px;
    box-shadow: 2px 2.5px 1px rgba(143, 142, 142, 0.45);
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer; 
    text-align: center;
    overflow: hidden;
    position: relative;
}

.iconPicStyle {
    font-size: 100px; 
    color: #5c5b5b;
    opacity: 13%;
    padding-top: 10px;
}

.uploadedImage {
    width: 100%; 
    height: 100%; 
    border-radius: 10px; 
}


.locationTextfield {
    width: 25vw;
    height: 15vh;
    margin: -10px 10px 20px 20px;
    background-color: #fff;
    border: thin solid #000;
    border-radius: 5px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    color: #000;
    padding-left: 10px;
}

/* icon call and line */
.iconStyle {
    font-size: 26px;
    color: #000;
    border-right: 1.5px solid #000;
    padding: 0px 4px 0px 0px;
    /* background-color: #891F0C; */

}
 
.iconArrowStyle {
    font-size: 30px;
    width: 3vw;
    height: 4vh;
    color: #000;
    margin: 10px 0px 0px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.2s ease;
}

.iconArrowStyle:hover {
    color: #313131;
    transform: scale(1.1);
}

.confirmButton {
    background: linear-gradient(90deg, #891F0C 0%, #E16813 100%);
    color: #FFF4EB;
    border-radius: 10px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: normal;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease transform 0.2s ease;
    text-align: center;
    width: max-content;
    align-self: center;
    margin: 10px 0px 10px 0px;
}

.confirmButton:hover {
    background: linear-gradient(90deg, #891F0C 0%, #E16813 100%);
    transform: scale(1.02);
}

.dropdown {
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.dropdownHeader {
    width: 100%;
    min-height: 4vh;
    max-height: max-content;
    background-color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 10px 0px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
    border: 1px solid #000;
}

.dropdownList {
    position: absolute;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
    width: 100%;
    max-height: 30vh;
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: normal;
}

.checkbox {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.checkbox input {
    margin-right: 10px;
    accent-color: black;
}

.ErrorChecking {
    width: max-content;
    background-color: #ffcccb; 
    color: #d8000c; 
    padding: 10px;
    margin-top: -25px;
    border: 1px solid #d8000c; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    align-self: center;
    position: relative; 
    top: 10; 
    z-index: 10; 
  }

  .Alerticon {
    margin-right: 8px; 
  }

  .uploadbtn {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .uploadText {
    color: #333;
  }
  